$hq-primary-color: #021C40;
$hq-secondary-color: #262515;
$hq-white: #ffffff;
$hq-black: #000000;
$hq-link: #1b7356;
$hq-label: #061f48;
$hq-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
$hq-deep-shadow: 0 1px 3px rgb(51 71 91 / 15%);
$hq-layout-bgcolor: rgba(215, 255, 234, 0.009);
